html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%
}

header h1,
h3 {
  text-align: center;
}

.tempHide {
  display: none;
  top: 300px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-board {
  width: 550px;
  min-height: 500px;
  background-image: linear-gradient(160deg, #02ccba 0%, #fff4be 100%);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.board {
  padding: 15px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(4, 120px);
  grid-column-gap: 15px;
  align-items: center;
}

.board .card {
  height: 110px;
  width: 110px;
  margin: auto;
  background: #2e3d49;
  font-size: 0;
  color: #ffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.board .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
  animation-name: flip;
  list-style: none;

}

.board .card.show {
  font-size: 33px;
}

.board .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  animation-name: shake;
  animation-duration: .75sec;
}

.statistic {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: auto;
}

.statistic h3 {
  margin: 0 5px 0 25px;
}

.game-options {
  display: flex;
  justify-content: space-around;
}

.game-heading {
  margin-right: 50px;
}

.game-level {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
}

.game-type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-type form {
  display: inline-flex;
  text-transform: uppercase;
}

.game-type h3 {
  text-transform: uppercase;
}

.game-level form {
  display: inline-flex;
  text-transform: uppercase;
}

.game-level h3 {
  text-transform: uppercase;
}
